#form-generate {
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  #prompt-text {}

  #buttons-generate {
    display: flex;

    #but-gen {
      width: 50%;
    }

    #but-sub {
      width: 50%;
    }

  }
}