.left-bar {
  padding-left: 30px;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  width: 180px;
  position: fixed;
  left: 0;
  color: gray;
  z-index: 100;
  font-size: calc(var(--text-scaling-dim)*1.375);

  .bar-item {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .bar-item:hover {
    opacity: 0.5;
  }

  .logo-item {
    width: 80px;
    color: white;
  }

  .login-item {
    margin-bottom: 30px;
  }

  .login-item:hover {
    opacity: 0.5;
  }
}

.top-bar {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
  display: none;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  background-color: white;
  z-index: 100;

  .top-bar-logo {
    height: 30px;
    width: auto;
  }
}


@media (width < 600px) {
  :root {
    --text-scaling-dim: 0.70rem !important;
  }
}

@media (600px < width < 1100px) {
  :root {
    --text-scaling-dim: 1rem !important;
  }
}

@media (1100px < width) {
  :root {
    --text-scaling-dim: 1.2rem !important;
  }
}

@media (1500px < width) {
  :root {
    --text-scaling-dim: 1.5rem !important;
  }
}

@media (width < 600px) {
  :root .content .main-view .secondary-articles {
    display: none;
  }
}


@media (width < 600px) {
  .various-articles-article-text {
    display: none;
  }
}

@media (width < 1100px) {
  :root .content {
    margin-left: 30px;
    margin-top: 70px;
  }

  .top-bar {
    display: flex;
  }

  .left-bar {
    display: none;
  }
}

.content {
  margin-left: 210px;
  display: flex;
  flex-direction: column;
  max-width: 1310px;

  .main-view {
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
    margin-top: 20px;

    .main-article {
      display: flex;
      flex-direction: column;
      max-width: 825px;
      margin-right: 20px;

      .main-article-title {
        font-size: calc(var(--text-scaling-dim)*2.25);
        font-weight: 900;
      }

      .main-image {
        width: 100%;
        height: auto;
      }
    }

    .main-article:hover {
      opacity: 0.5;
    }

    .secondary-articles {
      display: flex;
      flex-direction: column;
      max-width: 458px;

      .article-block {
        margin-bottom: 25px;

        .article-block-category {
          color: #00d301;
        }

        .article-block-text {
          padding-bottom: 15px;
          margin: 0;
          font-size: calc(var(--text-scaling-dim)*1.125);
          font-weight: 900;
        }

        .article-block-author {
          border-bottom: 1px solid #ddd;
          padding-bottom: 10px;
        }
      }

      .article-block:hover {
        opacity: 0.5;
      }
    }
  }

  .various-articles {
    padding-top: 15px;
    display: flex;
    flex-direction: column;

    .various-articles-article {
      padding-top: 15px;
      display: flex;
      flex-direction: row;
      border-bottom: 1px solid #ddd;
    }

    .various-articles-article:hover {
      opacity: 0.5;
    }

    .various-articles-article-title {
      max-width: 366px;
      margin-top: 0px;
      margin-left: 10px;
      font-weight: 850;
    }

    .various-articles-article-text {
      padding-top: 0px;
      color: gray;
    }

  }
}

.hidden {
  display: none;
}

#chat {
  height: 300px;
}

:root {
  --text-scaling-dim: 1rem;
  font-family: "Montserrat", sans-serif;
  margin: 0;
}