.left-bar {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  flex-direction: column;
  width: calc(var(--text-scaling-dim)*10);
  position: fixed;
  left: 0;
  color: gray;
  background-color: white;
  height: 100%;
  z-index: 5;
  box-sizing: border-box;
  font-size: calc(var(--text-scaling-dim)*1.275);

  #categories {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .bar-item {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: calc(var(--text-scaling-dim)*1);
  }

  .bar-item:hover {
    opacity: 0.5;
    transition: 0.2s;
  }

  .left-bar-logo {
    display: none;
    margin-left: auto;
    height: 30px;
    right: 0;
  }

  .logo-item {
    width: calc(var(--text-scaling-dim)*4);
    color: white;
  }

  .login-item {
    margin-bottom: 30px;
  }

  .user-in {
    color: #00d301;

    &:hover {
      opacity: 0.5;
      transition: 0.2s;
    }
  }

  .logout {
    color: red;
    margin-top: auto;
    margin-bottom: 0;
  }
}

.toggle_bar {
  display: flex !important;
  position: fixed;
  right: 0;
  left: unset !important;
  background-color: white;
  height: 100%;
  top: 0;
}

.top-bar {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  display: none;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  background-color: white;
  z-index: 3;

  .top-bar-logo {
    height: 30px;
    width: auto;
  }
}

.content {
  width: 100%;
  box-sizing: border-box;
  padding-top: 30px;
  position: absolute;
  padding-left: calc(var(--text-scaling-dim)*8 + 60px);
  padding-right: 20px;
  display: flex;
  flex-direction: column;

  .main-view {
    display: flex;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;

    .main-article {
      display: flex;
      flex-direction: column;
      max-width: 690px;
      font-size: calc(var(--text-scaling-dim)*1.1);

      .main-article-title {
        font-size: calc(var(--text-scaling-dim)*2.25);
        font-weight: 900;
      }

      .main-image {
        width: 100%;
        height: auto;
      }
    }

    .main-article:hover {
      opacity: 0.5;
      transition: 0.2s;
    }

    .secondary-articles {
      max-width: 458px;
      margin-left: 20px;

      .article-block {
        display: flex;
        flex-direction: column;
        margin-bottom: 25px;
        min-width: 300px;

        .article-block-category {
          color: #00d301;

          &:hover {
            opacity: 0.5;
            transition: 0.2s;
          }

        }

        .article-block-text {
          padding-bottom: 15px;
          margin: 0;
          font-size: calc(var(--text-scaling-dim)*1.125);
          font-weight: 900;

          &:hover {
            opacity: 0.5;
            transition: 0.2s;
          }
        }

        .article-block-author {
          border-bottom: 1px solid #ddd;
          padding-bottom: 10px;
        }
      }

    }
  }

  .various-articles {
    display: flex;
    flex-direction: column;
    margin-right: 20px;

    .various-articles-article {
      padding-top: 15px;
      display: flex;
      border-bottom: 1px solid #ddd;
    }

    .various-articles-article:hover {
      opacity: 0.5;
      transition: 0.2s;
    }

    .various-articles-article-infos {
      display: flex;
      flex-direction: column;
      margin-right: 30px;
      min-width: calc(var(--text-scaling-dim)*18);
      max-width: 20%;

      .various-articles-article-category {
        color: #00d301;
      }

      .various-articles-article-title {
        min-width: 230px;
        margin: 5px 0 10px;
        font-weight: 850;
        font-size: calc(var(--text-scaling-dim)*1);
      }

      .various-articles-article-author {
        margin-bottom: 10px;
      }
    }

    .various-articles-article-text {
      padding-top: 0px;
      color: gray;
      text-align: justify;
      font-size: calc(var(--text-scaling-dim)*0.8);
    }
  }
}

#mask {
  display: none;
  z-index: 9;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.8;
}


:root body {
  @media (width < 600px) {
    --text-scaling-dim: 0.70rem;
  }

  @media (600px < width < 1100px) {
    --text-scaling-dim: 1rem;
  }

  @media (1100px < width) {
    --text-scaling-dim: 1.2rem;
  }

  @media (1500px < width) {
    --text-scaling-dim: 1.5rem;
  }
}


@media (width < 600px) {
  :root .content .main-view .secondary-articles {
    display: none;
  }

  .various-articles-article-text {
    display: none;
  }
}

@media (width < 1100px) {
  :root .content {
    padding-left: 30px;
    top: 60px;
  }

  .top-bar {
    display: flex;
  }

  .left-bar {
    display: none;
  }
}

#chat {
  height: 300px;
}

:root {
  --text-scaling-dim: 1rem;
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

body {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.button-prev {
  background-color: #ff2626;
  border-color: black;
  color: black;

  &:hover {
    background-color: red;
    color: black;
    transition: 0.2s;
  }
}

button,
input[type=submit],
input[type=button] {
  border: 2px solid black;
  border-radius: 10px;
  background-color: white;
  color: black;
  padding: 10px 30px;
  font-size: 16px;
  cursor: pointer;
  border-color: #04AA6D;
  color: green;

  &:hover {
    background-color: #04AA6D;
    color: white;
    transition: 0.2s;
  }
}

article {
  min-height: 600px;
  margin: 30px auto;
  background-color: #f4f4f4;
  padding: 40px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 90%;
  display: flex;
  flex-direction: column;

  .article-title {
    font-size: calc(var(--text-scaling-dim)*2);
    text-align: center;
    margin-bottom: 10px;
    font-weight: 900;
  }

  .article-divider {
    margin-top: 20px;

    .article-image {
      width: 40vw;
      height: 40vw;
      float: right;
      margin-left: 10px;
      border-radius: 5px;
    }

    .article-text {
      font-size: calc(var(--text-scaling-dim)*1);
      line-height: 1.5;
      text-align: justify;
    }
  }

  .article-author {
    font-size: calc(var(--text-scaling-dim)*1.50);
    color: #888;
    margin-bottom: 10px;
    font-style: italic;
  }

  .article-categories {
    font-size: calc(var(--text-scaling-dim)*1.20);
    font-weight: 400;
    color: grey;

    .single-category {
      font-style: italic;
      margin-right: 20px;
      text-decoration: underline;

      &:hover {
        opacity: 0.5;
        transition: 0.2s;
      }
    }

  }
}

.comment-section {
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 90%;
  margin: 30px auto;
  display: flex;
  flex-direction: column;

  .article-comments {

    .single-comment {
      background-color: #f4f4f4;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
      width: 100%;
      margin: 15px auto;
      display: block;
      flex-direction: column;
      box-sizing: border-box;
      border-radius: 10px;

      .comment-delete {
        margin-left: auto;
        float: right;
      }

      .comment-name {
        font-size: calc(var(--text-scaling-dim)*1);
        font-weight: 800;
      }

      .comment-text {
        text-align: justify;
      }
    }

  }

  #comment-form {
    width: 100%;
  }

}

textarea {
  width: 100%;
  padding: 6px 6px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  transition: 0.5s;
  outline: none;
  border-radius: 10px;
  height: 80px;
  resize: none;
}

textarea:focus {
  border: 3px solid #555;
}